<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- TODO update this so that the version number populates from maven.  Also - dynamically update the schema location path to point to the appropriate
 tag within github (can I be clever enough to figure this out from the maven isaac version?) -->
<isaacAppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/Apelon-VA/ISAAC/master/isaac-app/src/main/resources/xsd/AppConfigSchema.xsd">
	<applicationTitle>ISAAC Toolkit (v0.14)</applicationTitle>
	<workflowServerUrl>http://162.243.255.43:8080/kie-wb/</workflowServerUrl>
	<workflowServerDeploymentId>gov.va.isaac.demo:terminology-authoring:1.5</workflowServerDeploymentId>
	<defaultEditPathName>ISAAC development path origin</defaultEditPathName>
	<defaultEditPathUuid>f5c0a264-15af-5b94-a964-bb912ea5634f</defaultEditPathUuid>
	<defaultViewPathName>ISAAC development path origin</defaultViewPathName>
	<defaultViewPathUuid>f5c0a264-15af-5b94-a964-bb912ea5634f</defaultViewPathUuid>
</isaacAppConfig>
	