<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- TODO update this so that the version number populates from maven.  Also - dynamically update the schema location path to point to the appropriate
 tag within github (can I be clever enough to figure this out from the maven isaac version?) -->
<isaacAppConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/Apelon-VA/ISAAC/master/isaac-app/src/main/resources/xsd/AppConfigSchema.xsd">
  <!-- This file is validated against a schema, thus the order
       of each of these entries matters.  Do not change it without
       also updating the corresponding schema. -->

  <!-- Archetype properties -->
  <archetypeGroupId>gov.va.isaac.archetypes</archetypeGroupId>
  <archetypeArtifactId>isaac-archetypes-pa</archetypeArtifactId>
  <archetypeVersion>1.0-Release_1.0</archetypeVersion>

  <!-- ISAAC software version -->
  <isaacVersion>1.8-Release_1.0</isaacVersion>

  <!-- Repositories for code and artifacts -->
  <scmConnection>scm:git:git@github.com:Apelon-VA/ISAAC-PA-VHA.git</scmConnection>
  <scmUrl>https://github.com/Apelon-VA/ISAAC-PA-VHA/config</scmUrl>
  <!-- Database version info -->
  <dbGroupId>gov.va.isaac.db</dbGroupId>
  <dbArtifactId>solor-snomed</dbArtifactId>
  <dbVersion>2014.11.12</dbVersion>
  <dbClassifier>active-only</dbClassifier>
  <dbType>bdb.zip</dbType>

  <!-- Drools version info - PLACEHOLDER
  <droolsGroupId>${drools.group.id}</droolsGroupId>
  <droolsArtifactid>${drools.artifactid}</droolsArtifactid>
  <droolsVersion>${drools.version}</droolsVersion>
  <droolsUrl>${drools.url}</droolsUrl>
   -->

  <!-- Application properties -->
  <applicationTitle>VHA ISAAC App - ISAAC Toolkit (v1.0)</applicationTitle>
  <previousReleaseVersion>20140731</previousReleaseVersion>
  <releaseVersion>20150131</releaseVersion>
  <extensionNamespace>1000161</extensionNamespace>
  <moduleId>sampleModuleId</moduleId>
  <!-- GIT Testing -->
  <!--changeSetUrl>ssh://someuser@csfe.aceworkspace.net:29418/isaac_pa_demo_changesets</changeSetUrl>
  <changeSetUrlType>GIT</changeSetUrlType-->
  <!-- SVN Testing -->
  <changeSetUrl>https://csfe.aceworkspace.net/svn/repos/isaac_pa_demo_changesets_svn</changeSetUrl>
  <changeSetUrlType>SVN</changeSetUrlType>
  
  <appSchemaLocation>https://raw.githubusercontent.com/Apelon-VA/ISAAC/master/isaac-app/src/main/resources/xsd/AppConfigSchema.xsd</appSchemaLocation>
  <userSchemaLocation>https://raw.githubusercontent.com/Apelon-VA/ISAAC/master/otf-util/src/main/resources/xsd/UserGenerationSchema.xsd</userSchemaLocation>
  <workflowServerUrl>http://162.243.255.43:8080/kie-wb/</workflowServerUrl>
  <workflowServerDeploymentId>gov.va.isaac.demo:terminology-authoring:1.5</workflowServerDeploymentId>

  <!-- Path info -->
  <defaultEditPathName>ISAAC development path</defaultEditPathName>
  <defaultEditPathUuid>f5c0a264-15af-5b94-a964-bb912ea5634f</defaultEditPathUuid>
  <defaultViewPathName>ISAAC development path</defaultViewPathName>
  <defaultViewPathUuid>f5c0a264-15af-5b94-a964-bb912ea5634f</defaultViewPathUuid>
  <workflowPromotionPathName>ISAAC release path</workflowPromotionPathName>
  <workflowPromotionPathUuid>c73859bc-4887-5273-8f57-c9b2557d5ac2</workflowPromotionPathUuid>



</isaacAppConfig>
	