<?xml version="1.0"?>
<!-- Logback (SLF) configuration file -->
<configuration>
	<!-- Improve performance with the redirct of Java logging into logback -->
	<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
		<resetJUL>true</resetJUL>
	</contextListener>

	<!-- Only prints INFO and worse -->
	<appender name="FILE-NORMAL" class="ch.qos.logback.core.FileAppender">
		<file>isaac.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>%date %-5level %-22([%thread]) %-32([%logger{30}]) %file:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Prints everything -->
	<appender name="FILE-DEBUG" class="ch.qos.logback.core.FileAppender">
		<file>isaac-debug.log</file>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
		<encoder>
			<pattern>%date %-5level %-22([%thread]) %-32([%logger{30}]) %file:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- Only prints WARN and worse -->
	<appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>WARN</level>
		</filter>
		<target>System.err</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %file:%line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- A Console appender that prints DEBUG -->
	<appender name="STDOUT-DEBUG" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<target>System.out</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %file:%line - %msg%n</pattern>
		</encoder>
	</appender>
	
	<!-- A Console appender that prints DEBUG -->
	<appender name="STDOUT-INFO" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<target>System.out</target>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %file:%line - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- By default, all loggers in the system are set to WARN or worse.  To enable more verbose logging
	for a specific logger, or a logger package - define a 'logger' configuration as below, with the desired level. -->
	<logger name="gov.va.isaac" level="TRACE" />
	<logger name="gov.va.legoEdit" level="TRACE" />
	<!--logger name="gov.va.oia" level="TRACE"/-->
	<logger name="org.ihtsdo" level="INFO" />
	<logger name="css" level="ERROR" /> <!-- JavaFX has some bugs that are causing it to be noisy about css errors... -->
	<logger name="com.mchange.v2.c3p0" level="INFO"/>

	<!-- Set the root logger (all loggers not specified above) at a WARN level -->
	<root level="WARN">
		<appender-ref ref="FILE-DEBUG" />
		<appender-ref ref="FILE-NORMAL" />
		<appender-ref ref="STDERR" />
		<!-- The two appenders below can be enabled if you desire INFO or DEBUG log output on the console. -->
		<!--appender-ref ref="STDOUT-DEBUG" /-->
		<!--appender-ref ref="STDOUT-INFO" /-->
	</root>
</configuration>