### Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

### Emacs
*~

### Eclipse
.classpath
.project
.settings


*.log
berkeley-db/
berkeley-db*/
legoData.db/
workflowDB/
drools-rules/
profiles/
*.bdb/

scenicView.properties/
.idea
isaac-pa-parent.iml